<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="droidiary.app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".DroidiaryActivity"
            android:label="@string/app_name" android:screenOrientation="fullSensor" android:launchMode="standard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity><activity android:name="AboutActivity" android:label="About"></activity><activity android:name="CercaAppuntamentoActivity" android:label="Cerca Appuntamento"></activity>
        <activity android:name="EliminaAppuntamentoActivity" android:label="Elimina Appuntamento"></activity><activity android:label="@string/titoloAppuntamenti" android:name="MenuAppuntamentiActivity" android:screenOrientation="fullSensor"></activity><activity android:name="MenuListaAppuntamentiActivity" android:label="Appuntamenti"></activity><activity android:name="MenuListaContattiActivity" android:label="Lista Contatti"></activity><activity android:name="MenuPrincipaleActivity" android:label="@string/titolomenu" android:screenOrientation="fullSensor"></activity>
        <activity android:label="@string/titoloRubrica" android:name="MenuRubricaActivity" android:screenOrientation="fullSensor"></activity>
        <activity android:name="MenuVisualizzaAppuntamentoActivity" android:label="Appuntamento"></activity><activity android:name="MenuVisualizzaContattoActivity" android:label="Contatto"></activity><activity android:screenOrientation="fullSensor" android:name="NuovoAppuntamentoActivity" android:label="@string/nuovoappuntamento"></activity><activity android:name="NuovoContattoActivity" android:label="@string/titoloRubrica" android:screenOrientation="fullSensor"></activity>
        
        
        
        
        
        
        
        
        
        

    </application>

</manifest>